<div id="background">
<div class="container">

    <div class="jumbotron" id="title">

        <h1 class="display-3">Sandbox Chat App</h1>

    </div>

    <div class="well col-centered" id="wellformat">

        <div class="row">

            <div class="col-md-3"></div>

            <div class="col-md-6">

                <form>

                    <div>

                        <p>Username:</p>
                        <input type="text" name="username"><br>
                    
                    </div>

                    <div class="space"></div>

                    <div>

                        <p>Password:</p>
                        <input type="text" name="password"><br>

                    </div>    

                    <div>

                        <button id="logInButton" class="btn-success">Log In</button>

                        <button id="signInButton" class="btn-primary">Sign Up</button>

                    </div>    

                    <a href="#">Forgot your password?</a>

                </form>

            </div>

            <div class="col-md-3"></div>

        </div>

    </div>

</div>
</div>
