<div class="container">

    <div class="jumbotron" id="title">

        <h1 class="display-3">Sandbox Chat App</h1>

    </div>

    <div class="well col-centered" id="wellformat">

        <div class="row">

            <div class="col-md-3"></div>

            <div class="col-md-6">

                <form>

                    <p>Username:</p>
                    <input type="text" name="username"><br>


                    <div class="space"></div>


                    <p>Password:</p>
                    <input type="text" name="password"><br>


                    <button id="logInButton" class="btn-success">Log In</button>

                    <a href="#">Forgot your password?</a>

                </form>

            </div>

            <div class="col-md-3"></div>

        </div>

    </div>

</div>
