<div class="">
  <chatTopBar :recipients="contacts" />
  <div id = "messages" v-for="(message, index) of messages" :key="message.id">
    <MessageItem :sender="message.SenderName" senderIcon="empty" :content="message.content" :direction="message.direction" style=""/>
    <div id="reciept">
      <div v-if="message.direction == 'left'"  class="spacer"/>
      <div  v-for="contact of contacts">
        <!-- {{index}} -->
        <img class="message-Reciept" v-if="contact.readLine==index"/>
        <!-- <img class="message-Reciept" /> -->
      </div>
      <div v-if="message.direction == 'right'"  class="spacer"/>
      <br>
    </div>
  </div>
  <div class="text-wrapper">
    <div></div> <input type='text' v-on:keyup.enter="sendMessage" v-model="messageOut"/>
  </div>
</div>
