<div class="">
  <chatTopBar :recipients="contacts"/>
  <div id = "messages" v-for="message of messages" :key="message.id">
    <MessageItem :sender="message.SenderName" senderIcon="empty" :content="message.content" :direction="message.direction" style=""/>
    <div v-if="message.read" id="reciept">
      <div v-if="message.direction == 'left'"  class="spacer"/>
      <div>
        <img class="message-Reciept" />
        <img class="message-Reciept" />
      </div>
      <div v-if="message.direction == 'right'"  class="spacer"/>
      <br>
    </div>
  </div>
  <div class="text-wrapper">
    <div>[]</div> <input type='text'/>
  </div>
</div>
