#search-text{
  width:inherit;
  background-color: inherit;
}
#search{
  height: 28px;
  width: 100%;
  /* z-index: 1; */
  /* background-color: beige; */
  position: fixed;
  /* margin-top: 12em; */
  bottom: 0;
}
#chat-bot{
  box-shadow: 0px 3.5px 7px rgba(0, 0, 0, .5);
  width: 100%;
  position: fixed;
  /* padding-top: 3em; */
  /* background-color: green; */
  margin-top: 3em;
}
#contacts{
  /* margin-top:9em; */
  padding-top:9em;
  /* height: 80%; */
}
#contacts-wrapper{
  /* height: 100%; */
}
div{
  background-color: white;
}
