<div id="contacts-wrapper">
  <!-- <h1>{{ msg }}</h1> -->
  <topBar/>
  <ContactItem id="chat-bot" userName='Chat-Bot' v-on:click.native="LoadNewChat($event,$router,'bot')"/>
  <!-- <div id="contacts">
    <ContactItem userName='lena' v-on:click="LoadNewChat($event,$router)"/>
    <ContactItem userName='mike' v-on:click="LoadNewChat($event,$router)"/>
    <ContactItem userName='jesse' v-on:click="LoadNewChat($event,$router)"/>
    <ContactItem userName='kevin' v-on:click="LoadNewChat($event,$router)"/>
  </div> -->
  <div id="contacts">
    <ContactItem v-for="contact of Contacts" :key="contact.id" :userName='contact.Name' v-on:click.native="LoadNewChat($event,$router,contact.Pid)"/>
  </div>
  <div id="search">
    <input id="search-text" type = 'text' placeholder="Search for or through contacts">
    <div id = "search-icon-holder"></div>
  </div>
  <!-- <button v-on:click="LoadNewChat($event,$router)">test chat</button> -->
</div>
