<div id="contacts-wrapper">
  <topBar/>
  <ContactItem id="chat-bot" :names="chatbotName" v-on:click.native="LoadNewChat($event,'bot')"/>
  <div id="contacts">
    <ContactItem v-for="contact of Contacts":key="contact.id"
      :names='contact.Names' :ReadReceipt="contact.readReciept"
       v-on:click.native="LoadNewChat($event,contact.Pid)"/>
  </div>
  <div id="search">
    <input id="search-text" type = 'text' placeholder="Search for or through contacts">
    <div id = "search-icon-holder"></div>
  </div>
</div>
