#search-text{
  width:inherit;
  background-color: inherit;
}
#search{
  height: 28px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
#chat-bot{
  box-shadow: 0px 3.5px 7px rgba(0, 0, 0, .5);
  width: 100%;
  position: fixed;
  margin-top: 3em;
}
#contacts{
  padding-top:9em;
}
#contacts-wrapper{
}
div{
  background-color: white;
}
